[submodule "driver_common"]
	path = driver_common
	url = https://github.com/ros-drivers/driver_common.git
	branch = indigo-devel
[submodule "hokuyo_node"]
	path = hokuyo_node
	url = https://github.com/ros-drivers/hokuyo_node.git
	branch = indigo-devel
[submodule "joystick_drivers"]
	path = joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
	branch = indigo-devel
[submodule "rosaria"]
	path = rosaria
	url = https://github.com/amor-ros-pkg/rosaria.git
