<launch>
<param name="/move_base/conservative_reset/reset_distance" type="double" value="15"/>
<param name="/move_base/conservative_reset_dist" type="double" value="15"/>
<!-- launch move_base -->
<node pkg="move_base" type="move_base" respawn="true" name="move_base" output="log">
<param name="base_local_planner" value="TrajectoryPlannerROS"/>
<rosparam file="$(find dora_2dnav)/config/costmap_common_params_amcl_2014.yaml" command="load" ns="global_costmap" />
<rosparam file="$(find dora_2dnav)/config/costmap_common_params_amcl_2014.yaml" command="load" ns="local_costmap" />
<rosparam file="$(find dora_2dnav)/config/local_costmap_params_amcl_2014.yaml" command="load" />
<rosparam file="$(find dora_2dnav)/config/global_costmap_params_amcl_2014.yaml" command="load" />
<rosparam file="$(find dora_2dnav)/config/base_local_planner_params_amcl_2014.yaml" command="load" />
<rosparam file="$(find dora_2dnav)/config/navfn_params_amcl_2014.yaml" command="load" />
<remap from="/cmd_vel" to="/navigation/cmd_vel" /><!--DWAPlannerROS-->
<param name="controller_frequency" type="double" value="15.0"/>
</node>

</launch>
